@import './common.scss';
div.dtsp-panesContainer {
    button.dtsp-clearAll,
    button.dtsp-showAll {
        margin-left: 3px;
    }

	div.dtsp-searchPanes {
		div.dtsp-searchPane {
            div.dt-container,
            div.dataTables_wrapper {
                border: 1px solid #dbdbdb;

                &:hover{
					border: 1px solid #bdbdbd;
				}
            }
            input.dtsp-paneInputButton,
			button.dtsp-paneButton {
				height: 35px;
                width: 35px;
                padding: 0;
            }

            div.dtsp-searchCont {
                margin-right: 3px;
                button.dtsp-searchIcon {
                    height: 33px;
                    width: 33px;
                    margin-top: 1px;
                    margin-right: 1px;
                }
            }

            div.dtsp-topRow {
                border-left: none;

                div.dtsp-subRow1 input[disabled="disabled"] {
                    padding-bottom: 5px;
                }

                input {
                    padding-left: 4px;
                }
            }
            
            div.dtsp-topRow.dtsp-bordered:hover {
                button.is-disabled {
                    cursor: pointer !important;
                    pointer-events: none;
                }
            
                input.dtsp-paneInputButton {
                    pointer-events: none;
                }
            }

            span.dtsp-caret {
                top: 7px;
            }
        }
    }
}

// Popover view
div.dt-button-collection {
    div.dtsp-panesContainer {
        padding: 1rem;
    }
}
