@import './common.scss';
div.dtsp-panesContainer {
    button.dtsp-clearAll,
    button.dtsp-showAll {
        margin-left: 3px;
    }

	div.dtsp-searchPanes {
		div.dtsp-searchPane {
            input.dtsp-paneInputButton,
			button.dtsp-paneButton {
				height: 35px;
                width: 35px;
            }

            div.dtsp-searchCont {
                margin-right: 3px;
                button.dtsp-searchIcon {
                    height: 33px;
                    width: 33px;
                    margin-top: 1px;
                    margin-right: 1px;
                }
            }

            div.dtsp-topRow.dtsp-bordered:hover {
                button.is-disabled {
                    cursor: pointer !important;
                    pointer-events: none;
                }
            
                input.dtsp-paneInputButton {
                    pointer-events: none;
                }
            }
        }
    }
}

div.dt-button-collection {
    div.dtsp-panesContainer {
        padding: 10px;
    }
}