@import './common.scss';

div.dtsp-searchPane {
    div.dtsp-topRow {
        margin: 0.5em 0;

        div.dtsp-subRow2 {
            margin-left: 0.5em;
        }

        input {
            min-height: 37px;
            border: 1px solid rgba(34,36,38,.15);
            padding-left: 12px;
        }

        button {
            border: 1px solid rgba(34,36,38,.15);
            border-left: none;

            &:first-child {
                border-left: 1px solid rgba(34,36,38,.15);
            }
            // width: 35px;
        }

        i.search {
			position: absolute;
			top: 7px;
			right: 3px;
            bottom: 0;
            box-shadow: none;
        }

        span.dtsp-caret {
            top: 4px;
            right: 0;
        }

        button.dtsp-collapseButton {
            max-width: 44px;
        }

        button.dtsp-rotated {
            transform: none;

            span {
                transform: rotate(180deg);
                top: -1px;
            }
        }

        button.clearButton,
        button.dtsp-searchIcon,
        button.dtsp-nameButton,
        button.dtsp-countButton,
        button.dtsp-collapseButton{
            background-color: transparent;
            width: 44px;
            height: 38px;
            font-size: 14px;
            cursor: pointer;
        }

        button.disabled {
            cursor: default;
        }
    }

    div.dtsp-topRow.dtsp-bordered:hover {
        button.disabled {
            cursor: pointer !important;
            pointer-events: none;
        }
    
        input.dtsp-search {
            cursor: pointer !important;
            pointer-events: none;
        }
    }

    div.dataTables_wrapper {
        margin-left: 0 !important;
        margin-right: 0 !important;

        div.column {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    div.dataTables_wrapper {
        border: 2px #f0f0f0 solid;
        text-align: left;

        &:hover {
            border: 2px solid #cfcfcf !important;
        }

        div.dtsp-nameCont span.badge {
            min-width: 30px;
            line-height: 1.25em;
            margin-top: 3.5px;
        }
    }

    div.ui.grid {
        margin-top: 0;
        margin-bottom: 0;

        div.row {
            padding: 0 !important;
        }
    }
}

div.dt-button-collection {
    border: 1px solid rgb(240, 240, 240);
    border-radius: 3px;
    div.dtsp-panesContainer {
        font-size: 14px;
        padding: 5px;

        span.dtsp-caret {
            right: 0px;
        }

        div.dtsp-titleRow {
            button {
                border-left-width: 0px !important;
                border-right-width: 0px !important;
                border-radius: 4px !important;
            }
        }
    }
}