@import './common.scss';

div.dtsp-searchPane {
	div.dt-container,
	div.dataTables_wrapper {
		border: 1px solid #f0f0f0;
		border-radius: 4px;
		overflow: hidden;

		&:hover{
			border: 1px solid #cfcfcf;
		}

		div.dt-scroll {
			margin: -5px 0;
		}
	}

	div.dtsp-topRow {
		border: 1px solid transparent;

		div.dtsp-subRow1 input[disabled="disabled"] {
			padding-bottom: 5px;
		}

		div.dtsp-searchCont{
			input.dtsp-search{
				border: none;
				padding-left: 3px;
			}
		}

		&.dtsp-bordered {
			border: 1px solid #f0f0f0;
			border-radius: 3px;

			&:hover {
				background-color: #f0f0f0;
			}
		}
	}
	
	input.dtsp-paneInputButton,
	button.dtsp-paneButton {
		height: 35px;
		width: 35px;
		min-width: 0;
		display: inline-block;
		margin: 2px;
		border: 0px solid transparent;
		background-color: transparent;
		margin-bottom: 0px;

		&:hover{
			background-color: #f0f0f0;
			border-radius: 2px;
			cursor: pointer;
		}
	}

	button.dtsp-paneButton {
		vertical-align: middle;
		opacity: 0.6;
	}
}

div.dtsp-panesContainer {
	button.dtsp-clearAll,
	button.dtsp-collapseAll,
	button.dtsp-showAll{
		border: 1px solid transparent;
		background-color: transparent;

		&:hover{
			background-color: #f0f0f0;
			border-radius: 2px;
			cursor: pointer;
		}
	}

	button.dtsp-disabledButton {
		cursor: default !important;
		color: rgb(124, 124, 124);

		&:hover {
			background-color: transparent;
		}

		&:focus {
			outline: none;
		}
	}
}

@media screen and (max-width: 767px) {
	div.dtsp-columns-4,
	div.dtsp-columns-5,
	div.dtsp-columns-6{
		max-width: 31% !important;
		min-width: 31% !important;
	}
}

@media screen and (max-width: 640px) {
	div.dtsp-searchPanes {
			flex-direction: column !important;
	}
	div.dtsp-searchPane{
		max-width: 98% !important;
		min-width: 98% !important;
	}
}

html.dark {
	div.dtsp-topRow {
		div.dtsp-subRow1 {
			button.dtsp-searchIcon span {
				filter: invert(1);
			}
		}
	
		button.dtsp-nameButton span {
			filter: invert(1);
		}
	
		button.dtsp-countButton span {
			filter: invert(1);
		}

		input.dtsp-paneInputButton,
		button.dtsp-paneButton {
			color: inherit;

			&:hover{
				background-color: rgb(64, 69, 73);
			}
		}

		&.dtsp-bordered {
			border: 1px solid rgba(255, 255, 255, 0.2);
			background: rgb(47, 52, 56) !important;

			&:hover {
				border: 1px solid rgba(255, 255, 255, 0.3);
			}
		}
	}

	div.dtsp-panesContainer {
		button.dtsp-clearAll,
		button.dtsp-collapseAll,
		button.dtsp-showAll {
			color: inherit;

			&:hover{
				background-color: rgb(64, 69, 73);
			}
		}

		button.dtsp-disabledButton {
			color: rgb(124, 124, 124);
		}
	}
	
	div.dtsp-searchPane {
		div.dt-container,
		div.dataTables_wrapper {
			border: 1px solid rgba(255, 255, 255, 0.2);

			&:hover{
				border: 1px solid rgba(255, 255, 255, 0.3);
			}

			div.dt-scroll-body,
			div.dataTables_scrollBody {
				background: rgb(47, 52, 56) !important;
	
				div.dtsp-nameCont {			
					span.dtsp-pill {
						background-color: rgb(33, 37, 41);
						color: inherit;
					}
				}
			}
		}
	}	
}
